<div class="feed-post-group is-collapsed card border-0 rounded-0">
  <input type="checkbox" class="feed-post-group-toggle" checked [id]="uid" />
  <label
    class="feed-post-group-header card-header bg-gradient-light text-uppercase font-weight-semibold py-1 px-2 small text-muted"
    [for]="uid"
  >
    <span class="dropdown-toggle mr-1"></span>
    {{ postGroup.week }}
  </label>
  <div class="list-group list-group-flush">
    <a
      href="#"
      class="list-group-item list-group-item-action p-0"
      *ngFor="let post of postGroup.posts"
      (click)="postClick.emit(post)"
    >
      <app-feed-posts-list-item [post]="post"></app-feed-posts-list-item>
    </a>
  </div>
</div>
